<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <h:head>
        <title>Hello Mentor Graphics</title>
    </h:head>

    <h:body>
        <h:form>

            <p:panel header="Hello Mentor Graphics!">
                <h:panelGrid columns="2" cellpadding="4">
                    <h:outputText value="File name: " />
                    <p:autoComplete id="acFindFile"
                                    minQueryLength="3"
                                    value="#{helloWorld.fileName}"
                                    completeMethod="#{helloWorld.findFiles}"
                                    effect="fade" />
                    <h:outputText value="Owner: " />
                    <p:autoComplete id="acFindOwner"
                                    minQueryLength="3"
                                    value="#{helloWorld.ownerName}"
                                    completeMethod="#{helloWorld.findOwner}"
                                    effect="fade" />

                </h:panelGrid>
            </p:panel>

            <hr />
            <p:commandButton value="Generate data" id="generateData" actionListener="#{helloWorld.generateData}" icon="ui-icon-disk" />

        </h:form>
    </h:body>
</html>
